body{
    font-family: Arial, sans-serif;
}

.nav-atas{
    background-color: #0d6efd;
    padding: 15px;
    color: white;
}

.isi-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.kotak{
    transition: 0.2s;
}

.kotak:hover{
    transform: scale(1.03);
}

.form-login{
    max-width: 400px;
    margin: auto;
}